{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'cadastrar_funcionario' %}">
    {% csrf_token %}
    
    <input type="text" placeholder="Nome" name="nome" required>
    <hr>
    <input type="text" placeholder="Cargo" name="cargo" required>
    <hr>
    <div>
        <input type="submit" value="Cadastrar" class="btn btn-success">
    </div>

</form>
