{% extends 'base.html' %}

{% block title %}Detalhes do Pedido - Ferticore{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/detalhes.css'%}">


    <div class="content" id="content">
        <h1>Detalhes do Pedido</h1>

        <div class="pedido-info">
            <table class="pedido-detalhes">
                <tr>
                    <th>Código do Pedido: {{ pedido.cod }}</th>
                </tr>
                <tr>
                    <th>Data do Pedido: {{ pedido.data_pedido|date:"d/m/Y H:i" }}</th>
                </tr>
                <tr>
                    <th>Nome do Cliente: {{ pedido.nome_cliente.nome }} <br>CNPJ: {{ pedido.nome_cliente.cnpj }} TIPO: {{ pedido.nome_cliente.tipo_cliente }}</th>
                   
                </tr>
                <tr>
                    <th>Funcionário: {{ pedido.funcionario.nome }} <br>Cargo: {{ pedido.funcionario.cargo }}</th>
                </tr>
                <tr>
                    <th>Status: {{ pedido.status }}</th>
                </tr>
                <tr>
                    <th>Total do Pedido: <strong>R$ {{ pedido.total_pedido|floatformat:2 }}</strong></th>
                    
                </tr>
            </table>
        </div>

        <h2>Produtos</h2>
        <ul class="produtos">
            {% for item in pedido.produtos_no_pedido %}
            <li class="produto-item">
                <div class="produto-conteudo">
                    <div class="produto-imagem">
                        <img src="{{ item.produto.img.url }}" width="150" height="auto">
                    </div>
                    <div class="produto-info">
                        <strong>Produto:</strong> {{ item.produto.nome }} <br>
                        <strong>Toneladas:</strong> {{ item.quantidade }} <br>
                        <strong>Preço:</strong> R$ {{ item.produto.preco|floatformat:2 }} <br>
                        <strong>Total:</strong> R$ {{ item.total|floatformat:2 }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'listar_pedidos' %}" class="btn-voltar">Voltar para Lista de Pedidos</a>
    </div>


      
{% endblock %}
