{% extends 'base.html' %}

{% block title %}Detalhes do Pedido - Ferticore{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/detalhes.css'%}">


    <div class="content" id="content">
        <h1>Detalhes do Pedido {{ pedido.cod }}</h1>

        <div class="pedido-info">
            <table class="pedido-detalhes">
                <tr>
                    <th>Código do Pedido:</th>
                    <td>{{ pedido.cod }}</td>
                </tr>
                <tr>
                    <th>Nome do Cliente:</th>
                    <td>{{ pedido.nome_cliente }}</td>
                </tr>
                <tr>
                    <th>Funcionário:</th>
                    <td>{{ pedido.funcionario }}</td>
                </tr>
                <tr>
                    <th>Data do Pedido:</th>
                    <td>{{ pedido.data_pedido|date:"d/m/Y H:i" }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ pedido.status }}</td>
                </tr>
                <tr>
                    <th>Total do Pedido:</th>
                    <td><strong>R$ {{ pedido.total_pedido|floatformat:2 }}</strong></td>
                </tr>
            </table>
        </div>

        <h2>Produtos</h2>
        <ul class="produtos">
            {% for item in pedido.produtos_no_pedido %}
                <li class="produto-item">
                    <div class="produto-conteudo">
                        <strong>Produto:</strong> {{ item.produto.nome }} <br>
                        <strong>Toneladas:</strong> {{ item.quantidade }} <br>
                        <strong>Preço:</strong> R$ {{ item.produto.preco|floatformat:2 }} <br>
                        <strong>Total:</strong> R$ {{ item.total|floatformat:2 }}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'listar_pedidos' %}" class="btn-voltar">Voltar para Lista de Pedidos</a>
    </div>


      
{% endblock %}
