{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>            
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'cadProduto' %}">
    {% csrf_token %}
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>

    <label for="quantidade">Formula:</label>
    <input type="text" id="formula" name="formula" required>

    <button type="submit">Cadastrar Produto</button>
</form>
